<%= form_for(@requirement) do |f| %>
  <% if @requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% @requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :designator %><br />
    <%= f.text_field :designator %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :subrequirements %><br />
    <%= f.text_field :subrequirements %>
  </div>
  <div class="field">
    <%= f.label :subrequirements_required %><br />
    <%= f.number_field :subrequirements_required %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
