<h1>Listing requirements</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Designator</th>
    <th>Text</th>
    <th>Subrequirements</th>
    <th>Subrequirements required</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requirements.each do |requirement| %>
  <tr>
    <td><%= requirement.id %></td>
    <td><%= requirement.designator %></td>
    <td><%= requirement.text %></td>
    <td><%= requirement.subrequirements %></td>
    <td><%= requirement.subrequirements_required %></td>
    <td><%= link_to 'Show', requirement %></td>
    <td><%= link_to 'Edit', edit_requirement_path(requirement) %></td>
    <td><%= link_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Requirement', new_requirement_path %>
