<h1>Listing award_earneds</h1>

<table>
  <tr>
    <th>Award</th>
    <th>Date earned</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @award_earneds.each do |award_earned| %>
  <tr>
    <td><%= award_earned.award_id %></td>
    <td><%= award_earned.date_earned %></td>
    <td><%= award_earned.user_id %></td>
    <td><%= link_to 'Show', award_earned %></td>
    <td><%= link_to 'Edit', edit_award_earned_path(award_earned) %></td>
    <td><%= link_to 'Destroy', award_earned, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Award earned', new_award_earned_path %>
