<%= form_for(@earned_award) do |f| %>
  <% if @earned_award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@earned_award.errors.count, "error") %> prohibited this earned_award from being saved:</h2>

      <ul>
      <% @earned_award.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :award_id %><br />
    <%= f.number_field :award_id %>
  </div>
  <div class="field">
    <%= f.label :date_earned %><br />
    <%= f.date_select :date_earned %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
